.Nav {
    color: white; 
    display: grid;
    font-size: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
}

.logo {
    width: 80px;
    margin-right: 1em;
}

h1:hover{
    opacity: 0.2;
    transition: 0.3s;
    -webkit-transition: 150ms ease-in-out;
    -moz-transition: 150ms ease-in-out;
    -ms-transition: 150ms ease-in-out;
    -o-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }  

.player-stats-link {
    color: white;
    text-decoration: none;
    grid-column: 2; 
    grid-row: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.team-stats-link {
    color: white;
    text-decoration: none;
    grid-row: 1;
    grid-column: 3;
}

.recent-games-link {
    color: white;   
    text-decoration: none;
    grid-row: 1;
    grid-column: 4;
}