.game_page {
    height: 100vh;
}

.container {
    margin-top: 2em;
    display: grid; 
    grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
}

.container h1 {
    font-weight:600;
}

.home_team {
    grid-column: 2;
}

.final_score {
    margin-top: .5em;
    margin-bottom: 0; 
    font-weight: 900;
    font-size: 48px;
}

.away_team {
    grid-column: 4;
}
