.player-card {
    display: flex;
    /* justify-content: center; */
    background-color: rgb(148, 148, 148);
    margin-bottom: 1em;
    text-decoration: none;
}

.player-card img {
    width: 20%; 
    height: auto; 
}


.link {
    color: black !important;
    text-decoration: none !important;
}

.player-card .text {
    font-size: 36px;
}

.player-card:hover{
    opacity: 0.7;
    transition: 0.3s;
    -webkit-transition: 150ms ease-in-out;
    -moz-transition: 150ms ease-in-out;
    -ms-transition: 150ms ease-in-out;
    -o-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }  

.jersey_num {
    margin-left: -1.5em;
    margin-top: .25em; 
    margin-right: 1em; 
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 12px;

    background: orange;
    border: 2px solid orange;
    color: black;
    text-align: center;
    font-size: 16px; 
    font-weight: 900;
  }
